html,
body {
    height: 100%;
}

.container {
    min-height: 100%;
    margin-bottom: -261px;

    &:after {
        content: "";
        display: block;
        height: 200px;
    }
}

footer {
    height: 200px;
}

/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;
    text-align: center;

    // Positioning context for the mobile navigation icon
    position: relative;

    svg {
        width: 15%;
        margin: 100px auto;
    }
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    text-align: center;

    ul {
        margin: 1em 0;
        list-style-type: none;
    }

    li {
        display: inline-block;
        margin: 0 0.5em; 
        text-transform: uppercase;
        font-size: 20px;
    }

    a,
    a:visited,
    a:hover,
    a:active {
        -webkit-backface-visibility:hidden;
        backface-visibility:hidden;
        position:relative;
        transition:0.5s color ease;
        text-decoration:none;
        color: #dedede;
    }

    a:hover {
        color: rgb(88, 89, 91);

        &:after {
            width: 100%;
        }
    }

    .link-top {
        &:after {
            content: "";
            transition:0.5s all ease;
            -webkit-backface-visibility:hidden;
            backface-visibility:hidden;
            position:absolute;
            height:5px;
            height:0.35rem;
            width:0;
            background: rgb(88, 89, 91);
            left:50%;
            bottom:-0.25em;
            -webkit-transform:translateX(-50%);
            transform:translateX(-50%);
        }

        &:before {
            content: "// ";
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

/**
 * Disqus
 */

 .comments {
    padding: 150px 0 200px;
 }